
            
            


<footer class="text-center footer-style">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <h3>Dirección</h3>
                <p>
                    Carrera 81 G Bis 42 26 sur <br />
                    Bogota - Colombia
                </p>
                <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d994.2046525775486!2d-74.16648407087014!3d4.6264288997899525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9e819da1d48b%3A0x39ef7b2257c4f8e4!2sStilos%20Jsa!5e0!3m2!1ses!2sco!4v1642555532444!5m2!1ses!2sco" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="col-md-4 footer-col">
                <h3>Mis redes</h3>
                <ul class="list-inline">
                    <li>
                        <a  target="_blank" href="https://github.com/carlosloyal" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter">GitHub</i></a>
                    </li>
                    <li>
                        <a  target="_blank" href="https://www.facebook.com/carlos.amoelbmx" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i>Facebook </a>
                    </li>
                    <li>
                        <a  target="_blank" href="https://www.instagram.com/charles_loyal/" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i>Instagram</a>
                    </li>
                    
                    <li>
                        <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 footer-col">
                <h3>Trabajo FreeLancer</h3>
                <p>Tengo conocimientos solidos en maquetación web  y me apasiona lo que hago!
                    "Nos convertimos en lo que pensamos" (Buda)
                </p>
            </div>
        </div>
    </div>
</footer>


      
       
 
           