<footer class="container-footer-all">
    
    <div class="unir" >
   
      <div class="container-body">
           <div class="contacto">
            <h2>CONTACTO</h2> 
            
                <p>Carlos Leal Duarte</p>
                <p>Bogota-Colombia</p>
                <p>Tel: 3115334672</p>
                <p>Correo electronico: Lealduartecarlos@gmail.com</p>
             
           </div>
           <div class="comollegar">
               <h2> COMO LLEGAR</h2>
        <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d994.2046525775486!2d-74.16648407087014!3d4.6264288997899525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9e819da1d48b%3A0x39ef7b2257c4f8e4!2sStilos%20Jsa!5e0!3m2!1ses!2sco!4v1642555532444!5m2!1ses!2sco" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
           </div>
 
           <div class="redes-sociales">
               <h2>SOBRE NOSOTROS</h2>
               <p>Somos una compañia de Apis de peliculas gratis para todos y buscamos calidad y facil accesso a peliculas de muy buena calidad</p>
    
           </div>
       </div>     
      <div class="container-footer">
         &#169; copyright 2022, todos los derechos <br> reservados bogota-colombia.
     </div>

           
</footer>




