<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Dark </mat-panel-title>
      <mat-panel-description>
                   Drama - 3 temporadas.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      Ambientada en la Alemania contemporánea, la serie gira alrededor de la
      desaparición de dos niños en Widen. El pueblo se vuelca en buscarles hasta
      que la situación cada vez se convierte más en una experiencia
      sobrenatural. Parece ser que todo se relaciona con los inexplicables
      sucesos que ocurrieron en 1986.
    </p>
   
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> La casa de papel </mat-panel-title>
      <mat-panel-description>
        Suspenso - 5 temporadas.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
        Esta inquietante historia sobre asaltos a manos de una banda de delincuentes, combina la acción, la intriga y el thriller logrando aumentar su atractivo. Pero todos estamos de acuerdo que para lograr esto, sus personajes han jugado un peculiar papel. Como resultado de todo el esfuerzo, se ha convertido en la serie de producción española con más éxito de todos los tiempos.

    </p>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Breaking bad </mat-panel-title>
      <mat-panel-description>
      Drama - 5 temporadas.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
        Walter White (Bryan Cranston) es un frustrado profesor de química en un instituto, padre de un joven discapacitado y con una mujer (Anna Gunn) embarazada. Además, trabaja en un lavadero de vehículos por las tardes. Cuando le diagnostican un cáncer pulmonar terminal se plantea qué pasará con su familia cuando él muera.
        
    </p>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Sex education </mat-panel-title>
      <mat-panel-description>
    	
    Comedia dramática - temporadas.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      Ambientada en la Alemania contemporánea, la serie gira alrededor de la
      desaparición de dos niños en Widen. El pueblo se vuelca en buscarles hasta
      que la situación cada vez se convierte más en una experiencia
      sobrenatural. Parece ser que todo se relaciona con los inexplicables
      sucesos que ocurrieron en 1986.
    </p>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Peaky Blinders </mat-panel-title>
      <mat-panel-description>
        Drama - 6 temporadas.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
        Peaky Blinders es un drama de BBC que narra la historia de la familia gitana Shelby y su banda de gángsters, un grupo de personas características por sus boinas con cuchillas y dueñas de los asuntos ilegales, que dominan las apuestas clandestinas y se rigen mediante extorsiones.
    </p>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> El juego del calamar </mat-panel-title>
        <mat-panel-description>
          
      Drama - 1 temporada
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        Cientos de jugadores cortos de dinero aceptan una extraña invitación a competir en juegos infantiles. Adentro les espera un premio irresistible... con un riesgo mortal.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  